.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  color: black;
  font-weight: bold;
  background: white;
  opacity: 0.7;
  border-radius: 50%;
}
.swiper-button-prev {
  left: 0px;
}
.swiper-button-next {
  right: 0px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}
